# Local Wrangler cache
.wrangler/

# Build output
dist/
app/public/_worker.js
app/public/client/*.js
scraper/dist/

# Installed npm dependencies
node_modules/

# OS
.DS_Store
Thumbs.db

# Config
.env
