<header class="hero-header">
    <h1 class="hero-title">Infinite Leaderboard</h1>
</header>

<article class="leaderboard-table-container">
    <div>
        <table class="striped">
            <thead>
                <tr>
                    <th scope="col" class="w-6rem">Rank</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="text-right">Snap Points</th>
                </tr>
            </thead>
            <tbody id="leaderboardBody">
                <!-- Loaded via JS -->
            </tbody>
        </table>
    </div>
    <div id="loader" class="status-msg">
        <span aria-busy="true">Loading leaderboard...</span>
    </div>
</article>

<button id="backToTop" class="back-to-top" aria-label="Back to Top">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="18 15 12 9 6 15"></polyline>
    </svg>
</button>