<div class="sticky-nav">
    <nav class="container">
        <ul>
            <li>
                <a href="/" class="logo-link">
                    <img src="/logo.png" class="header-logo">
                    <strong style="white-space: nowrap;">Snap Nexus</strong>
                </a>
            </li>
            <li>
                <a href="/leaderboard" class="pico-color-amber-500"
                    style="text-decoration:none; font-weight: 500; font-size: 0.9rem;">Leaderboard</a>
            </li>
        </ul>
        <!-- Player Search removed due to API changes -->
    </nav>
</div>

<script src="/client/navbar.js"></script>