<div class="leaderboard-controls">
    <div class="season-selector-container">
        <button id="seasonTrigger" class="fake-select">
            <span id="seasonTriggerText">Current Season</span>
        </button>
        <div id="seasonDropdown" class="season-dropdown">
            <!-- Populated via JS -->
        </div>
    </div>
</div>

<article class="leaderboard-table-container">
    <div>
        <table class="striped">
            <thead>
                <tr>
                    <th scope="col" class="rank-col">Rank</th>
                    <th scope="col" class="name-col">Name</th>
                    <th scope="col" class="score-col">Snap Points</th>
                </tr>
            </thead>
            <tbody id="leaderboardBody">
                <!-- Loaded via JS -->
            </tbody>
        </table>
    </div>
    <div id="loader" class="status-msg">
        <span aria-busy="true">Loading leaderboard...</span>
    </div>


</article>